#all {
    width:75%;
    margin: 0 auto 0 auto;
}
h1 {
    padding:0 0 0 1.1em;
    
}
#right {
    margin:0 0 0 2em;
    padding: 0 12px 0 12px;
    float:left;
    width: 40%;
    background-color: #D4D4D4;
    
    
}
#wrapper {
    float:left;
    max-width: 3 1;
    margin: auto;
}
#left {
    margin: 0 2em;
    padding: 0 12px 0 12px;
    width:80%;
    Height:50em;
    float:left;
    background-color: #999;
}
#bttm {
    margin: 2em;
    padding: 0 12px;
    width:80%;
    height:6em;
    float: left;
    background-color: #777;
}

